@model IEnumerable<CemeteryManagementSystem.Models.ApplyModel>

@{
    ViewBag.Title = "CemSys - Cemetery Management System";
    string previousUrl = Request.UrlReferrer.PathAndQuery;
}

<div class="jumbotron">
    <h1>CemSys</h1>
    <p class="lead">CemSys is a web-based Cemetery Management System.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@if (previousUrl == "/Home/Index")
{
    <div class="container">
        <div class="row">
            <hr />
            <h3><label for="searchTerm">Find Deceased's Ossuary Location</label></h3>
            <div class="col">
                <p><a href="../Home/Index" class="btn btn-primary btn-group">Return to Home</a></p>
            </div>
        </div>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.deadFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deadMiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deadLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deadBirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deathDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.selectedLocation)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.selectedFloorNSection)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.deadFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deadMiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deadLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deadBirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deathDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.selectedLocation)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.selectedFloorNSection)
                    </td>*@
            </tr>
        }

    </table>
}
else
{
    using (Html.BeginForm("SearchForName", "Apply"))
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="row">
                <hr />
                <h3><label for="searchTerm">Find Deceased's Ossuary Location</label></h3>
                <div class="col">
                    <ul class="nav navbar-nav">
                        <li><input type="text" name="searchTerm" id="searchTerm" placeholder="Search Name" class="form-control" /></li>
                        <li><input type="submit" value="Search" class="btn btn-primary btn-group" /></li>
                    </ul>
                </div>
            </div>
        </div>
    }
}
