@model IEnumerable<CemeteryManagementSystem.Models.ApplyModel>

@{
    ViewBag.Title = "Records";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Ossuary Databases</h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Ossuary I*", "Ossuary", new { @page = 1 })</li>
                    <li>@Html.ActionLink("Ossuary II*", "Ossuary", new { @page = 2 })</li>
                    <li>@Html.ActionLink("Ossuary III*", "Ossuary", new { @page = 3 })</li>
                    <li>@Html.ActionLink("Ossuary IV*", "Ossuary", new { @page = 4 })</li>
                    <li>@Html.ActionLink("Ossuary V*", "Ossuary", new { @page = 5 })</li>
                    <li>@Html.ActionLink("Ossuary VI*", "Ossuary", new { @page = 6 })</li>
                    <li>@Html.ActionLink("Ossuary VII*", "Ossuary", new { @page = 7 })</li>
                    <li>@Html.ActionLink("Ossuary VIII*", "Ossuary", new { @page = 8 })</li>
                    <li>@Html.ActionLink("Ossuary IX*", "Ossuary", new { @page = 9 })</li>
                    <li>@Html.ActionLink("Ossuary X*", "Ossuary", new { @page = 10 })</li>
                </ul>
            </div>
        </div>
    </div>
    <hr />*@

<h2>Applicant @ViewBag.Title</h2>
<div class="container">
    <div class="row">
        <div class="col">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Ossuary Records", "OssuaryRecords")</li>
                <li>@Html.ActionLink("Create New", "Index")</li>
            </ul>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.applicantLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.applicantFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.applicantMiddleName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.applicantBirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.selectedApplicantGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.selectedPaymentMethod)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Id)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.applicantLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.applicantFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.applicantMiddleName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.applicantBirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.selectedApplicantGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.selectedPaymentMethod)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "ApplicantEdit", new { id = item.Id }) |
                @Html.ActionLink("Details", "ApplicantDetails", new { id = item.Id }) |
                @Html.ActionLink("Delete", "ApplicantDelete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
